<?php /* ?>
<div class="panel panel-default ulogin_panel">
    <div class="panel-heading"><?php echo $heading_title; ?></div>
    <?php echo $ulogin_form; ?>
</div>
<?php */ ?>

<div class="my_ulogin_stile">
	<?php echo $heading_title; ?> <?php echo $ulogin_form; ?>
</div>
