    <div class="row" style="margin-left: 20px;">
    <form id="privatbank_paymentparts_pp_checkout" role="form" class="form-inline">  
      <div class="form-group">
        <select id="partsCount_pp" name="partsCount_pp" style="width:auto;" class="form-control selectWidth">
          <?php foreach ($partsCounts as $partsCount) { ?>
			<?php if ($partsCount==$partsCountSel) { ?>
			<option selected="selected"><?php echo $partsCount; ?></option>
			<?php } else { ?>
			<option><?php echo $partsCount; ?></option>
			<?php } ?>
          <?php } ?>
        </select> месяцев
      </div>
      </form>
    </div>
