<div id="slideshow<?php echo $module; ?>" class="owl-carousel no-border" style="opacity: 1;">
    <?php foreach ($banners as $banner) { ?>
    <div class="item">
        <?php if ($banner['link']) { ?>
        <a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>"
                                                      alt="<?php echo $banner['title']; ?>" class="img-responsive"/></a>
        <?php } else { ?>
        <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive"/>
        <?php } ?>
    </div>
    <?php } ?>
</div>
<script type="text/javascript"><!--
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#slideshow<?php echo $module; ?>').owlCarousel({
            items: 6,
            autoPlay: 20000,
            singleItem: true,
            navigation: true,
            navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
            pagination: false
        });
    });
    --></script>